<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Plantilla -->
<head>
<meta charset="utf-8">
<title>EzLogIn</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<style>
    body {
      margin: 0;
      padding: 0;
      background-color: #e8fafc;
    }
    .navbar-container a{
		font-family: 'Nunito', sans-serif;
		font-size: 19.5px;
    }

    h3{
		font-family: 'Nunito', sans-serif;
		font-size: 23px;
		font-weight: 600;
		color: #293c8f;
    }
	label{
		color: #0b1b63;
	}
</style>

</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Ez-Link</a>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<br>
	<br>
<!-- Plantilla -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h3>Log In</h3>
				<form th:action="@{/login}" method="post">

					<div th:if=${param.error}>
						<div class="alert alert-warning">Usuario o contraseña
							incorrectos. </div>
					</div>

					<div th:if=${param.logout}>
						<div class="alert alert-success">Su sesion ha cerrado satisfactoriamente.
						</div>
					</div>


					<div class="form-group">
						<label  for="username">Usuario  </label> <input id="username"  name="username" type="text" class="form-control"
							required autofocus="autofocus" placeholder="Ingrese su usuario por favor.">
					</div>

					<div class="form-group">
						<label  for="password">Contraseña  </label> <input
							id="password" type="password"  name="password" class="form-control" required
							autofocus="autofocus" placeholder="Ingrese su contraeña por favor.">
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<input type="submit" class="form-control btn btn-primary" name="login-submit" id="login-submit"
									value="Log In 🙂" />
							</div>
						</div>
					</div>
				</form>
				<div class="form-group">
					<span>¿Eres nuevo? ... <a th:href="@{/signup}"> Sign Up </a></span>
				</div>

			</div>
		</div>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>














