<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>EzSignUp</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

	<style>
		body {
		  margin: 0;
		  padding: 0;
		  background-color: #e8fafc;
		}
		.navbar-container a{
			font-family: 'Nunito', sans-serif;
			font-size: 19.5px;
		}
	
		h3{
			font-family: 'Nunito', sans-serif;
			font-size: 23px;
			font-weight: 600;
			color: #293c8f;
		}
		label{
			color: #0b1b63;
		}
		p{
			font-family: 'Nunito', sans-serif;
			color: #2c0251;	
			font-weight: 550;
		}
	</style>
	
</head>



<body>


	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Ez-Link</a>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<br>
				<br>

				<h3>Sign Up</h3>
				<form th:action="@{/signup}" method="post" th:object="${usuario}">

					<div th:if=${param.sign1}>
						<div class="alert alert-info">Registro exitoso.</div>
					</div>
					<div th:if=${param.sign0}>
						<div class="alert alert-warning">El usuario ingresado ya existe.</div>
					</div>
					<div th:if=${param.sign00}>
						<div class="alert alert-warning">El e-mail ingresado ya esta en uso.</div>
					</div>
					<div th:if=${param.sign000}>
						<div class="alert alert-danger">La contraseña no es lo suficientemente segura.</div>
					</div>

					<div class="form-group">
						<label class="control-label" for="nombre">Nombre: </label> <input
							id="nombre" type="text" class="form-control" th:field="*{nombre}"
							required autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="email">E-mail: </label> <input
							id="email" type="email" class="form-control" th:field="*{email}"
							required autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="password">Contraseña: </label> <input
							type="password" id="password" class="form-control" th:field="*{password}"
							required autofocus="autofocus">
						<p>Porfavor ingrese una contraeña de al menos 8 caracteres.</p>
					</div>

					<div class="form-group text-center d-flex"> <!-- CSS de Bootstrap para alinear el contenido. -->
						<button type="submit" class="btn btn-success btn-block">Sign Up 🙂</button>
					</div>
				</form>

				<div class="form-group">
				<span>¿Registrado? ...<a th:href="@{/login}"> Log In </a></span>
				</div>
			</div>
		</div>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>














